$primary-color-900 ?= #233876
$primary-color-800 ?= #1E429F
$primary-color-700 ?= #1A56DB
$primary-color-600 ?= #1C64F2
$primary-color-500 ?= #3F83F8
$primary-color-400 ?= #76A9FA
$primary-color-300 ?= #A4CAFE
$primary-color-200 ?= #C3DDFD
$primary-color-100 ?= #E1EFFE
$primary-color-50 ?= #EBF5FF
$primary-color ?= $primary-color-500

:root,page{
  --nut-primary-color: $primary-color;
  --nut-primary-color-end: $primary-color-600;
}

.bg-primary-900
  background-color $primary-color-900

.bg-primary-800
  background-color $primary-color-800

.bg-primary-700
  background-color $primary-color-700

.bg-primary-600
  background-color $primary-color-600

.bg-primary-500
  background-color $primary-color-500

.bg-primary-400
  background-color $primary-color-400

.bg-primary-300
  background-color $primary-color-300

.bg-primary-200
  background-color $primary-color-200

.bg-primary-100
  background-color $primary-color-100

.bg-primary-50
  background-color $primary-color-50

.bg-primary
  background-color $primary-color

.text-primary-900
  color $primary-color-900

.text-primary-800
  color $primary-color-800

.text-primary-700
  color $primary-color-700

.text-primary-600
  color $primary-color-600

.text-primary-500
  color $primary-color-500

.text-primary-400
  color $primary-color-400

.text-primary-300
  color $primary-color-300

.text-primary-200
  color $primary-color-200

.text-primary-100
  color $primary-color-100

.text-primary-50
  color $primary-color-50

.text-primary
  color $primary-color

.border-primary-900
  border-color $primary-color-900

.border-primary-800
  border-color $primary-color-800

.border-primary-700
  border-color $primary-color-700

.border-primary-600
  border-color $primary-color-600

.border-primary-500
  border-color $primary-color-500

.border-primary-400
  border-color $primary-color-400

.border-primary-300
  border-color $primary-color-300

.border-primary-200
  border-color $primary-color-200

.border-primary-100
  border-color $primary-color-100

.border-primary-50
  border-color $primary-color-50

.border-primary
  border-color $primary-color
