@import './colors'

.btn
  margin 0
  padding 0
  outline none
  border none
  background none
.btn-warning
  border-color $warningColor !important
  background-color $warningColor !important
  color #ffffff !important

.btn-danger
  border-color $dangerColor !important
  background-color $dangerColor !important
  color #ffffff !important

.btn-success
  border-color $successColor !important
  background-color $successColor !important
  color #ffffff !important

.btn-primary
  border-color $primaryColor !important
  background-color $primaryColor !important
  color #ffffff !important

.btn-info
  border-color $infoColor !important
  background-color $infoColor !important
  color #ffffff !important

.btn-dark
  border-color $darkColor !important
  background-color $darkColor !important
  color #ffffff !important
