.flex
  display flex

.flex-center
  display flex
  justify-content center
  align-items center

.flex-around
  display flex
  justify-content space-around
  align-items center

.flex-between
  display flex
  justify-content space-between
  align-items center

.flex-end
  display flex
  justify-content flex-end
  align-items center

.flex_1
  flex 1
