// 滚动条样式
&::-webkit-scrollbar
  width 8px
  height 8px
  border-radius 8px
  background transparent

&::-webkit-scrollbar-thumb
  width 8px
  height 8px
  border-radius 8px
  background transparent

&:hover::-webkit-scrollbar-thumb
  border-radius 8px
  background rgba(123, 123, 123, 1)

&:hover::-webkit-scrollbar-track
  border-radius 8px
  background rgba(123, 123, 123, 0.1)
